/**
 * hana+nils · Büro für Gestaltung
 * https://hananils.de · buero@hananils.de
 */

/* Table */

.k-structure-field thead .k-structure-table-column,
.k-structure-field thead .k-structure-table-index {
    padding-top: 0.5rem;
}

.k-structure-field .k-structure-table-column,
.k-structure-field .k-structure-table-index,
.k-structure-field .k-structure-table-option {
    vertical-align: top;
}

/* Indexes */

.k-structure-field .k-structure-table-index-number {
    display: block;
    padding-top: 0.65rem;
}

/* Field content */

.k-structure-field .k-structure-table-text {
    overflow: visible;
    padding: 0.5rem 0.75rem;
    line-height: 1.5em;
    white-space: normal;
    text-overflow: unset;
}

.k-structure-field .k-structure-table-text a {
    color: var(--color-focus);
    text-decoration: underline;
}
