/**
 * hana+nils · Büro für Gestaltung
 * https://hananils.de · buero@hananils.de
 */

/* Table */

.k-structure-field tbody .k-table-cell,
.k-structure-field .k-table-index-column {
    vertical-align: top;
}

.k-structure-field tbody .k-table-cell > * {
    padding: 0.5rem 0.75rem;
    line-height: 1.5em;
}

/* Indexes */

.k-structure-field .k-table-index-column {
    padding-top: 0.8rem;
}

.k-structure-field tr:hover .k-table-index-column {
    padding-top: 0.2rem;
}

/* Field content */

.k-structure-field .k-structure-table-text {
    overflow: visible;
    white-space: normal;
    text-overflow: unset;
}

.k-structure-field .k-structure-table-text a {
    color: var(--color-focus);
    text-decoration: underline;
}
